.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #323946;
}

.about-image img{
    width: 35vw;
}

.about-content h3{
    font-size: 30px;
}

.about-heading span{
    color: #0ef;
}

.heading{
    text-align: left;
    font-size: 40px;
}

.about-content p{
    font-size: 20px;
    margin: 15px 0;
}